body {
  background-color: #f6f8fa;
  font-family: "Poppins", sans-serif;
}

.card {
  border-radius: 15px;
  background: #fff;
}

h2 {
  letter-spacing: 0.5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #00c851;
  border: none;
}

.btn-success:hover {
  background-color: #007e33;
}
